*{
    margin: 0;
    padding: 0;
}
.grid-container{
display:grid;
grid-template-areas:
"encabezado encabezado"
"menu-lateral contenido-principal"
"pie-de-pagina pie-de-pagina";

grid-template-columns:  1fr 80%;
grid-template-rows: 10% 80% 10%;
gap: 10px;
min-height: 100vh;
}

.encabezado{
    grid-area: encabezado;
    background-color: bisque;

}
.contenido-principal{
    grid-area: contenido-principal;
    background-color: rgb(152, 110, 190);
    display: flex;
}
.pie-de-pagina{
    grid-area: pie-de-pagina;
    background-color: rgb(94, 94, 163);
}
.navbar navbar-expand-lg bg-body-tertiary {
    display:flex; 
    align-items: center; 
    flex-direction: column;
    width: 9em;
}